<li><%= column_widget.name %>
  <ul>
    <% tags = %w(row_count) %>
    <table width="75%" border="1">
      <% tags.each do |tag| %>
          <tr>
            <th><%= tag %></th>
            <td><%= get_val(column_widget, tag) %></td>
          </tr>
      <% end %>
    </table>
    <% cols = %w(1 2 3 4 5 6) %>
    <% children = Array.new %>
    <% for i in 0..(number_of_widgets(get_val(column_widget, "row_count")) - 1) %>
        <!--<li><%= "row_#{cols[i]}_widget_name" %>=<%= get_val(column_widget, "row_#{cols[i]}_widget_name") %></li>-->
        <% children.push(get_val(column_widget, "row_#{cols[i]}_widget_id")) %>
    <% end %>
  </ul>
  <% if column_widget.widgets.count > 0 %>
      <ul>
        <% children.each do |child_id| %>
            <% child = Widget.find(child_id) %>
            <%= render partial: "widget", object: child %>
        <% end %>
      </ul>
  <% end %>
</li>

