<li><%= content_stripe_widget.name %>
  <ul>
    <% tags = %w(row_bg_color row_text_color row_layout) %>
    <table width="75%" border="1">
    <% tags.each do |tag| %>
      <tr>
        <th><%= tag %></th>
        <td><%= get_val(content_stripe_widget, tag) %></td>
      </tr>
    <% end %>
    </table>

    <% cols = %w(one two three four) %>
    <% children = Array.new %>
    <% for i in 0..(number_of_widgets(get_val(content_stripe_widget, "row_layout")) - 1) %>
        <!--<li><%= "column_#{cols[i]}_widget_name" %>=<%= get_val(content_stripe_widget, "column_#{cols[i]}_widget_name") %></li>-->
        <% children.push(get_val(content_stripe_widget, "column_#{cols[i]}_widget_id")) %>
    <% end %>
  </ul>
  <% if content_stripe_widget.widgets.count > 0 %>
      <ul>
        <% children.each do |child_id| %>
            <% child = Widget.find_by_id(child_id) %>
            <% if child %>
                <%= render partial: "widget", object: child %>
            <% else %>
            <li class="error">WIDGET NOT FOUND! Check configuration.</li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</li>
