<li><%= column_widget.name %>
  <ul>
    <% tags = %w(row_count) %>
    <% tags.each do |tag| %>
      <li><%= tag %>=<%= get_val(column_widget, tag) %></li>
    <% end %>

    <% children = Array.new %>
    <% (1..column_widget.max_widgets).each do |i| %>
      <% col_name = "#{column_widget.child_widget_setting_prefix(i)}name" %>
      <li><%= col_name %>=<%=column_widget.get_setting_value(col_name) %></li>
      <% children.push(column_widget.get_setting_value("#{column_widget.child_widget_setting_prefix(i)}id")) %>
    <% end %>
  </ul>
  <% if column_widget.widgets.count > 0 %>
      <ul>
        <% children.each do |child_id| %>
            <% child = Widget.find(child_id) %>
            <%= render partial: "widget", object: child %>
        <% end %>
      </ul>
  <% end %>
</li>

