<li><%= column_widget.name %>
  <ul>
    <% tags = %w(row_count) %>
    <% tags.each do |tag| %>
      <li><%= tag %>=<%= get_val(column_widget, tag) %></li>
    <% end %>

    <% cols = %w(one two three four five six) %>
    <% children = Array.new %>
    <% for i in 0..(number_of_widgets(get_val(column_widget, "row_count")) - 1) %>
        <li><%= "row_#{cols[i]}_widget_name" %>=<%= get_val(column_widget, "row_#{cols[i]}_widget_name") %></li>
        <% children.push(get_val(column_widget, "row_#{cols[i]}_widget_id")) %>
    <% end %>
  </ul>
  <% if column_widget.widgets.count > 0 %>
      <ul>
        <% children.each do |child_id| %>
            <% child = Widget.find(child_id) %>
            <%= render partial: "widget", object: child %>
        <% end %>
      </ul>
  <% end %>
</li>

