<div class="rows-layout layout">
  <div class="cloner">
    <% loc_id = params[:source_location] ||= 8 %>
    <% @loc = Location.find(loc_id) %>
    <% @widget_list = Array.new %>
    <h1><%= fa_icon "copy" %>Location Map</h1>
    <%= form_tag '', :method => :get, :url => {:action => :show} do %>
        <div class="clone-location">
          <span class="clone-step">1.</span>
          <label for="source_location"><%= fa_icon "code" %>Select Location</label>
          <%= select_tag 'source_location',
                         options_for_select(@locations, loc_id),
                         :onchange => 'this.form.submit();' %>
        </div>
    <% end %>
    <div class="clone-location target-location">
      <span class="clone-step">2.</span>
      <label for="target_location_ids"><%= fa_icon "dot-circle-o" %><%= @loc.name %></label>
    </div>
    <div id='listContainer'>
      <div class='listControl'>
        <a id='expandList'>Expand All</a>
        <a id='collapseList'>Collapse All</a>
      </div>
      <ul id='expList'>
        <% @loc.website.web_templates.order(:display_order).each do |wt| %>
            <% next if wt.name == "Website Template" %>
            <li><%= wt.name %>
              <% wt.drop_targets.each do |dt| %>
                  <% dt.widgets.each do |w| %>
                      <ul>
                        <%= render partial: "widget", object: w %>
                      </ul>
                  <% end %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script language="JavaScript">
    /**************************************************************/
    /* Prepares the cv to be dynamically expandable/collapsible   */
    /**************************************************************/
    function prepareList() {
        $('#expList').find('li:has(ul)')
                .click( function(event) {
                    if (this == event.target) {
                        $(this).toggleClass('expanded');
                        $(this).children('ul').toggle('medium');
                    }
                    return false;
                })
                .addClass('collapsed')
                .children('ul').hide();

        //Create the button funtionality
        $('#expandList')
                .unbind('click')
                .click( function() {
                    $('.collapsed').addClass('expanded');
                    $('.collapsed').children().show('medium');
                })
        $('#collapseList')
                .unbind('click')
                .click( function() {
                    $('.collapsed').removeClass('expanded');
                    $('.collapsed').children().hide('medium');
                })

    };

    $.fn.editable.defaults.mode = 'inline';
    /**************************************************************/
    /* Functions to execute on loading the document               */
    /**************************************************************/
    $(document).ready( function() {
        prepareList();
        $('#setting-45643').editable();
    });

</script>