<div class="assets">
  <div class="page-title">
    <h2><i class="fa fa-cog"></i> Asset Manager</h2>
  </div>

  <div class="assets-uploader">
    <label>
      <div class="upload-left"><i class="fa fa-upload fa-2x"></i></div>
      <div class="upload-right">Upload New Files</div>
      {{s3-upload url="/api/v1/sign_upload" action='saveAsset' websiteName=website.name}}
    </label>

    <div class="assets-loader">
      <i class="fa fa-refresh fa-3x fa-spin"></i><br>
      Uploaded <strong class="asset-count">0</strong> of <strong class="asset-total">0</strong>
    </div>

    <div class="assets-success">
      <i class="fa fa-check-circle-o fa-3x"></i><br>
      Upload Complete
    </div>
  </div>

  <div class="faux-table faux-table--striped">
    <ul class="faux-table-body">

      {{#each controller}}
        <li class="asset faux-table-row">
          <div class="faux-table-cell asset-image">
            <a {{bind-attr href=model.url}} target='new'>
              <img {{bind-attr src=model.url}}>
            </a>
          </div>

          <div class="faux-table-cell asset-category">
            <form class="asset-element">
              <div class="selected-category">
                <i class="fa fa-tags"></i> {{model.categoryName}}
              </div>

              {{view "select"
                     content=controller.categories
                     name="category"
                     prompt="Select New Category"
                     optionValuePath="content.id"
                     optionLabelPath="content.name"
                     selection=model.category }}

              {{#view "asset-save"}}
                <button {{action 'save' controller.model}} class="save btn btn--a asset-save">Save</button>
              {{/view}}
            </form>
          </div>

          <div class="faux-table-cell asset-url">
            <div class="asset-element">{{click-select url=model.url }}</div>
          </div>
          <div class="faux-table-cell asset-delete">{{confirm-button title='delete' action='deleteAsset' param=model}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
