<div class="card-container back">

  {{ partial "website/webPageTemplateHead" }}

  <div class="card-body">

    <form class="form">
      {{#view "validate-empty-form-field"}}
        <label>Page Name (for CMS)</label>
        {{input value=name name="page_name"}}
      {{/view}}

      {{#view "validate-empty-form-field"}}
        <label>Page Title</label>
        {{input value=title name="page_title"}}
      {{/view}}

      <div class="form-field template-select">
        <label>Parent Page</label>

        {{view Ember.Select
               contentBinding="templates"
               prompt="None"
               name="parent"
               optionValuePath="content.id"
               optionLabelPath="content.name"
               selection=parent }}
      </div>

      <div class="form-field">
        <label class="switch-label">Page Status</label>
        {{#view "toggle-btn"}}
          <div class="switch switch-small" data-on="success" data-off="danger">
            {{input type="checkbox" checked=enabled}}
          </div>
        {{/view}}
      </div>

      <div class="buttons">
        {{#view "card-action"}}
          <button {{action cancel this}} class="cancel-link card-flip">
            Cancel
          </button>
        {{/view}}
        {{#view "card-action"}}
          <button {{action save this}} class="save btn btn--small" disabled>
            Save
          </button>
        {{/view}}
      </div>
    </form>

  </div>
</div>
