<div class="card-container front">

  {{ partial "website/web-page-template-head" }}

  <div class="card-body">
    <ul class="widgets">
      {{#each mainWidgets}}
        {{ partial "website/widget" }}
      {{/each}}
    </ul>
    <div class="buttons">
      {{#if isWebHomeTemplate}}
        {{#link-to "webHomeTemplate" class="btn btn--small"}}Edit{{/link-to}}
      {{else}}
        {{#link-to "webPageTemplate" this.slug class="btn btn--small"}}Edit{{/link-to}}
      {{/if}}
      <a {{bind-attr href="previewUrl"}} class="btn btn--small">Preview</a>
    </div>

    {{ partial "website/web-page-template-flip" }}
  </div>
</div>
