<div class="rows-layout layout">
  <div class="cloner">
    <h1><%= fa_icon "history" %> Location Cloner</h1>

    <%= form_tag "/location_cloner/clone_location" do %>
      <div class="clone-location">
        <label for="source_location"><%= fa_icon "copy" %> Source Location</label>
        <p>The location you want to use as the model</p>
        <%= select_tag "source_location", options_for_select(@locations) %>
      </div>

      <div class="clone-location target-location">
        <label for="target_location_ids"><%= fa_icon "dot-circle-o" %> Target Locations</label>
        <p>The locations chosen below will be completely destroyed and re-cloned based on the source location above.</p>
        <%= select_tag "target_location_ids", options_for_select(@locations), multiple: true %>
      </div>

      <div class="clone-actions">
        <%= submit_tag "Clone", class: "clone-link clone-link-green" %>
        <%= link_to "View Resque", "/resque", class: "clone-link clone-link-blue" %>
      </div>
    <% end %>
  </div>
</div>
