<div class="page-title page-toolbar">
  <div class="l-container">
    <span class="buttons l-pullLeft">
      {{#link-to "assets" this class="btn fi-photo" }}Asset Manager{{/link-to}}
      {{#link-to "redirectManager" this class="btn fi-shuffle" }}Redirects Manager{{/link-to}}
      {{#link-to "releases" this class="btn fi-archive" }}Recent Deploys{{/link-to}}
      {{#link-to "docs" this class="btn fi-folder fi-folder" }}Docs{{/link-to}}
    </span>
    {{#if controllers.client.single_domain}}
      {{confirmation-link title="Deploy All" action="deploy_all" param=this 
        message="You are about to deploy. Are you sure?" classes="btn btn--deploy l-pullRight fi-flag"}}
    {{else}}
      {{confirmation-link title="Deploy" action="deploy" param=this 
        message="You are about to deploy. Are you sure?" classes="btn btn--deploy l-pullRight fi-flag"}}
    {{/if}}
  </div>
</div>

<div class="l-container">
  <div class="site-settings page-section l-grid">
    <h2>Website Settings</h2>
    {{ render "website/websiteTemplate" websiteTemplate }}
  </div>

  <div class="site-pages page-section">
    <div class="page-title">
      {{#view App.NewPage}}
        {{#link-to "webPageTemplates.new" class="btn new-page-btn fi-plus" }}Create New Page{{/link-to}}
      {{/view}}
      {{#view App.WebsiteWebPageTemplatesViewTrashView}}
        <a href="#" class="btn trash-btn fi-trash"}>View Trash</a>
      {{/view}}
      {{#view App.CardOptionsView}}
        <a href="#" class="card-options card-option-small fi-list size-14" data-card-option="small">small</a>&nbsp;|&nbsp;
        <a href="#" class="card-options card-option-full fi-list size-20" data-card-option="full">full</a>
      {{/view}}
    </div>
    <div class="cards">
      {{ render "website/webHomeTemplate" webHomeTemplate }}
      {{ render "website/webPageTemplates" webPageTemplates }}
      {{ outlet "newWebPageTemplate" }}
    </div>
  </div>

  <div id="trash">
    <a href="#" name="trash-can" {{action confirmEmptyTrash}} id="trash-can">
      <div class="icon icon--trash"></div>
    </a>

    <div class="l-container">
      <div id="deleted-pages" class="cards">
        {{ render "website/webPageTemplatesInTrash" webPageTemplates }}
      </div>
    </div>

    
  </div>
</div>

{{#view App.WebsiteWebPageTemplatesEmptyTrashView}}
  <div class="lightbox-body">
    <h2>Empty the Trash</h2>
    <p>This is immediate and permanent. There is no undo.</p>
    <p class="c-important">Are you sure?</p>
    <div class="buttons">
      <a href="#" {{action confirmEmptyTrash}} class="btn--text" id="empty-trash-cancel">Cancel</a>
      <a href="#" {{action emptyTrash}} class="btn" id="empty-trash-yes">Yes</a>
    </div>
  </div>
{{/view}}
