<% if location.thumbnail.present? %>
  <img src="<% location.thumbnail %>" alt="<%= location.name %> photo">
<% end %>

<p class="h-adr p-adr adr" itemscope itemtype="http://schema.org/PostalAddress">
  <strong><%= location.name %></strong><br>

  <span class="p-street-address street-address" itemprop="streetAddress">
    <%= location.street_address %>
  </span><br>
  <span class="p-locality locality" itemprop="addressLocality">
    <%= location.city %>,
  </span>
  <span class="p-region region" itemprop="addressRegion">
    <%= location.state %>
  </span>
  <span class="p-postal-code postal-code" itemprop="postalCode">
    <%= location.postal_code %>
  </span>

  <a href="<%= location.website.decorate.url %>">Visit Location</a>
</p>
