<div class="assets">
  <div class="page-title">
    <h2>Asset Manager</h2>
  </div>

  <div class="assets-uploader">
    <label>
      <div class="upload-left"><i class="fa fa-upload fa-2x"></i></div>
      <div class="upload-right">Upload New Files</div>

      {{s3-upload url="/api/v1/sign_upload" action='saveAsset' websiteName=website.name}}
    </label>

    <div class="assets-loader">
      <i class="fa fa-refresh fa-3x fa-spin"></i><br>
      Uploaded <strong class="asset-count">0</strong> of <strong class="asset-total">0</strong>
    </div>

    <div class="assets-success">
      <i class="fa fa-check-circle-o fa-3x"></i><br>
      Upload Complete
    </div>
  </div>

  <div class="faux-table faux-table--striped">
    <ul class="faux-table-body">
      {{#each controller}}
        <li class="asset faux-table-row">
          {{categoryId}}
          <div class="faux-table-cell asset-image">
            <a {{bind-attr href=url}} target='new'>
              <img {{bind-attr src=url}}>
            </a>
          </div>

          <div class="faux-table-cell asset-category">
            <div class="selected-category">
              {{categoryId}}
            </div>

            {{view Ember.Select
                   contentBinding="controller.categories"
                   name="category"
                   prompt="Select New Category"
                   optionValuePath="content.id"
                   optionLabelPath="content.name"
                   selection=category }}

            <button {{action save this}} class="save btn btn--a asset-save">Save</button>
          </div>

          <div class="faux-table-cell">{{click-select url=url }}</div>
          <div class="faux-table-cell asset-delete">{{confirm-button title='delete' action='deleteAsset' param=this}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
