{{#view "color-picker"}}
  <div class="colors clearfix">
    <h3>Customize Colors:</h3>
    <div class="color-fields">
      <div class="check-field">
        <label>
          {{view "checkbox" checkedBinding="customColors"
            contentBinding="content"}}
          Use Custom Colors
        </label>
      </div>
      <div class="color-field">
        {{view "color-field" valueBinding="primaryColor"
          contentBinding="content" id="color-1" class="color"}}
        <label for="color-1">Primary</label>
      </div>
      <div class="color-field">
        {{view "color-field" valueBinding="secondaryColor"
          contentBinding="content" id="color-2" class="color"}}
        <label for="color-2">Secondary</label>
      </div>
      <div class="color-field">
        {{view "color-field" valueBinding="tertiaryColor"
          contentBinding="content" id="color-3" class="color"}}
        <label for="color-3">Tertiary</label>
      </div>
    </div>
  </div>
{{/view}}

{{#view "font-picker"}}
  <div class="fonts clearfix">
    <h3>Customize Fonts:</h3>
    <div class="font-fields">
      <div class="check-field">
        <label>
          {{view "checkbox" checkedBinding="customFonts"
            contentBinding="content"}}
          Use Custom Fonts
        </label>
      </div>
      <div class="font-field">
        <label for="font-1">Primary</label>
        {{view "font-field" valueBinding="primaryFont"
          contentBinding="content" id="font-1" class="font" placeholderBinding="defaultPrimaryFont" disabledBinding="noCustomFonts" }}
      </div>
      <div class="font-field">
        <label for="font-2">Secondary</label>
        {{view "font-field" valueBinding="secondaryFont"
          contentBinding="content" id="font-2" class="font" placeholderBinding="defaultSecondaryFont" disabledBinding="noCustomFonts" }}
      </div>
    </div>
  </div>
{{/view}}
