<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G5 CMS: <%= @client_name %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'disable-transition' if Rails.env.test? %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= flash_div name %>
    <% end %>
    <%= yield %>
  </body>
</html>
